#calculator-body {
    width: 400px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5%;
    margin: 20px auto;
    background-color: rgb(155, 143, 226)
}

#screen {
    margin: 10px auto;
    height: 15%;
    width: 95%;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    font-size: 40px;
    font-family: sans-serif;
}

#delete {
    margin: 10px auto;
    height: 10%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#delete div {
    height: 100%;
    width: 45%;
    background-color: rgb(255, 172, 172);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}

#main-buttons {
    margin: 10px auto;
    height: 65%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row div {
    height: 100%;
    width: 22%;
    background-color: rgb(100, 255, 255);
    border: 1px solid black;
    border-radius: 5%;
    font-size: 35px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
}

.row div:active {
    background-color: rgb(78, 209, 209);
}

#delete div:active {
    background-color: rgb(255, 140, 140);
}